---
all:
  vars:
    ansible_ssh_user: ubuntu
    ansible_ssh_private_key_file: ~/.ssh/id_ed25519
    ansible_ssh_common_args: '-o ProxyCommand="ssh -W %h:%p -q -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no "{{ ansible_ssh_user }}"@${nat_instance["network_interface"][0]["nat_ip_address"]} -i "{{ ansible_ssh_private_key_file }}""'
    become: true
    ansible_python_interpreter: /usr/bin/python3
  hosts:
    %{~ for node in nodes ~}
    ${node["name"]}:
      ansible_host: ${node["network_interface"][0]["nat_ip_address"] == "" ? node["network_interface"][0]["ip_address"] : node["network_interface"][0]["nat_ip_address"]}
      ip: ${node["network_interface"][0]["ip_address"]}
      access_ip: ${node["network_interface"][0]["ip_address"]}
    %{~ endfor ~}
  children:
    kube_control_plane:
      hosts:
        ${nodes[0]["name"]}:
    kube_node:
      hosts:
      %{~ for i, node in nodes ~}
        %{~ if i > 0 ~}       
        ${node["name"]}:
        %{~ endif ~}
      %{~ endfor ~}
    
    etcd:
      hosts:
         ${nodes[0]["name"]}:
    k8s_cluster:
      children:
        kube_control_plane:
        kube_node:
    calico_rr:
      hosts: {}